/.DS_Store
/.cask
/*.un~
/.cache
/.dap-breakpoints
/anything-c-adaptive-history
/auto-save-list
/cache
/elpa
/eshell
/id-manager
/lookup-dic
/network-security.data
/projectile
/projectile-bookmarks.eld
/recentf
/semantic.cache
/semanticdb
/secret
/snippets
/tramp
/template-files
/twittering-mode
/var
/data
/wl/addresses
/wl/bbdb-list
/wl/elmo-refile-rule.el
/wl/folders
/wl/folders.back
/wl/folders.bak
/wl/mhindex.log
/wl/*.back
/wl/ml-list.el
/wl/signature-gmail
/wl/wl-account-tls.el
/wl/wl-account.el
/wl/wl-refile-rule-gram.el
/wl/wl-refile-rule.el
/wl/mime-example.el
/wl/certs
/wl/#bbdb-list#
/wl/.#bbdb-list
/wl/signature
/cocoa/ac
/cocoa/elpa
/cocoa/elpa.back
/.lsp-session-v1
/transient
/kkcrc
/url
/eln-cache
/tree-sitter
/ellama-sessions
