/.DS_Store
/.cask
/*.un~
/anything-c-adaptive-history
/auto-save-list
/cache
/elpa
/id-manager
/lookup-dic
/network-security.data
/projectile
/projectile-bookmarks.eld
/recentf
/semantic.cache
/semanticdb
/snippets
/tramp
/template-files
/twittering-mode
/var
/wl/addresses
/wl/bbdb-list
/wl/elmo-refile-rule.el
/wl/folders
/wl/folders.back
/wl/folders.bak
/wl/mhindex.log
/wl/*.back
/wl/ml-list.el
/wl/signature-gmail
/wl/wl-account-tls.el
/wl/wl-account.el
/wl/wl-refile-rule-gram.el
/wl/wl-refile-rule.el
/cocoa/ac
/cocoa/elpa
/cocoa/elpa.back